@model Locadora.Web.MVC.ViewModels.JogoDevolucaoModel
@{
    ViewBag.Title = "Devolucao";
}

<h2>Devolucao</h2>
@if (Model != null)
{
    <h2>@Model.Nome</h2>

    <div>
        <div>
            Data De Locação: @Model.DataLocacao
        </div>
        <div>
            Preco A Pagar: @Model.ValorFinal
        </div>
    </div>
}
else
{
    <h3>@TempData["MensagemDevolver"]</h3>
}


@using (Html.BeginForm("ProcurarPorNomeParaDevolver", "Jogo", Model, FormMethod.Post, new { @class = "form-horizontal inline-block top-margin", role = "form" }))
{

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="form-group inline-block">
        @Html.LabelFor(m => m.Nome, new { @class = "col-sm-2 control-label block" })
        <div class="col-sm-10">
            @Html.TextBoxFor(m => m.Nome, new { @class = "form-control margem-direita" })
            @Html.ValidationMessageFor(m => m.Nome)
        </div>
    </div>

    <input class="right btn" type="submit" name="enviar" value="Procurar" />
}

<div class="block top-margin">
    @using (Html.BeginForm("Devolver", "Jogo", Model, FormMethod.Post, new { @class = "form-horizontal inline-block", role = "form" }))
    {
        <input class="right btn inline-block" type="submit" name="enviar" value="Devolver" />
    }
</div>

