@model JogoDetalhadoModel
@{
    ViewBag.Title = "Detalhes do Jogo";
}

<h2>ViewBag.JogoTitulo</h2>

<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>Jogo</th>
            <th>Categoria</th>
            <th>Preço</th>
            <th>Selo</th>
            <th>ID</th>
        </tr>
    </thead>
    <tr>
        <td>@Model.Nome</td>
        <td>@Model.Categoria</td>
        <td>@Model.Preco.ToString("c")</td>
        <td>@Model.Selo.ToString()</td>
        <td>@Model.Id</td>
    </tr>
</table>
<div class="divPaiVideoImg">
    <div class="centraliar">
        <div class="left tamanhoPadrao">
            <img class="img-responsive tamanhoPadrao" src="@Html.Raw(Model.Imagem)" />
        </div>

        <div class="right tamanhoPadrao video">
            @Html.Raw(@Model.Video)
        </div>
    </div>
</div>

<div>
    <p class="centraliar">
       Descrição: @Model.Descricao
    </p>
</div>